// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer-section{
	background-color: $black;
	color: $white;
	font-size: 16px;
	padding:60px;

	.footer-1{


	}
	.footer-2{
		input{

		}

	}
	.footer-3{

		.list{
			list-style-type: none;

		}
	}
}